@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://use.typekit.net/pgl6tup.css");
@import url("https://fonts.cdnfonts.com/css/pp-neue-montreal");

/* styles/globals.css */
@font-face {
  font-family: "Helvetica Neue";
  src: url("/HelveticaNeue/HelveticaNeue-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/HelveticaNeue/HelveticaNeue-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/HelveticaNeue/HelveticaNeue-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/HelveticaNeue/HelveticaNeue-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/HelveticaNeue/HelveticaNeue-RegularItalic.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/HelveticaNeue/HelveticaNeue-Thin.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/HelveticaNeue/HelveticaNeue-Ultralight.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}

body {
  scroll-behavior: smooth;
  font-family: "Helvetica Neue", sans-serif;
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
