@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://use.typekit.net/pgl6tup.css");

@layer base {
  html {
    font-family: "neue-haas-grotesk-text", sans-serif;
  }
}

body {
  scroll-behavior: smooth;
}

.overflow-y-hidden {
  overflow: hidden;
}
